<div class="sixteen columns">
  <h1 class="remove-bottom" style="margin-top: 40px"> Pulse

    <div id="buttons" style="float: right">

      <a href="/status" class="button" title="Демон отработал без ошибок?">Статус: 
        <% if @health %>
          <span style="color: green">Норм.</span>
        <% else %>
          <span style="color: red">Ошиб.</span>
        <% end %>
      </a>

      <a href="/default" class="button" style="margin-right: 6px">Вернуться</a>

    </div>

  </h1>

  <h5>
    Веб-мордочка для отображения текущих задач
  </h5>
  
  <hr />
</div>


<div class="sixteen column">

  <% @users.each do |user| %>
    <h4>
      Задачи для <%= user.name %>

      <span style="font-size: 14px">
        [<a href="/default?id=<%= user.id %>" target="_blank">Открыть отдельно</a>]
      </span>
    </h4>

    <br/>


    <% works = user.tasks %>

    <% if works.any? %>
      <ul class="square">

        <% works.each do |task| %>
          <li>

            <strong 
              <%= 'style="background-color: lightsalmon" title="Заблокирована"' if task.blocked %> >
              <%= task.title %>
            </strong>

            [<%= task.localized_phase %>]
            
            <br/>
            <br/>

            <a href="<%= task.global_in_context_url %>" target="_blank">Открыть карточку</a>

            <% unless task.deadlines_list.empty? %>
              | <em> Дедлайн: <%= task.deadlines_list %> </em>
            <% end %>

            <br/>
            <br/>

          </li>
        <% end %>

      </ul>
    <% else %>
      <p>Нет открытых задач.</p>
    <% end %>


    <% watches = Task.where(watcher_id: user.id) %>

    <% if watches.any? %>

      <h5>Проверяет:</h5>
      <br/>

      <ul class="square">

        <% watches.each do |task| %>
          <li>

            <strong 
              <%= 'style="background-color: lightsalmon" title="Заблокирована"' if task.blocked %> >
              <%= task.title %>
            </strong>

            [<%= task.localized_phase %>]
            
            <br/>
            <br/>

            <a href="<%= task.global_in_context_url %>" target="_blank">Открыть карточку</a>

            <% unless task.deadlines_list.empty? %>
              | <em> Дедлайн: <%= task.deadlines_list %> </em>
            <% end %>

            <br/>
            <br/>

          </li>
        <% end %>

      </ul>
    <% end %>

    
  <% end %>

</div>
