<div class="sixteen columns">

  <div id="buttons" style="float: right; margin-top: 50px">

    <a href="/status" class="button" title="Демон отработал без ошибок?">Статус:
      <% if @health %>
        <span style="color: green">Норм.</span>
      <% else %>
        <span style="color: red">Ошиб.</span>
      <% end %>
    </a>

    <a href="/blocked_graph" class="button">График</a>
    <a href="/blockers" class="button">Блокеры</a>
    <a href="/default" class="button">Показать все задачи</a>    

  </div>

  <h1 class="remove-bottom" style="margin-top: 40px">
    <a href="/">Pulse</a>
  </h1>

  <h5>
    Веб-мордочка для отображения текущих задач
  </h5>
  
  <hr />
</div>


<div class="sixteen column">

  <% @users.each do |user| %>
    <h4>Заблокированные задачи <%= user.name %></h4>
    <br/>

    <ul class="square">

      <% user.tasks.each do |task| %>
        <% next unless task.blocked %>

        <li>
          <strong><%= task.title %></strong> [<%= task.localized_phase %>]

          <br/>
          <br/>

          <% task.blockers.active.each do |blocker| %>
            <em title="Причина блокировки"> > <%= blocker.message %> </em> <br/>
          <% end %>

          <br/>

          <a href="<%= task.global_in_context_url %>" target="_blank">Открыть карточку</a>

          <% unless task.deadlines_list.empty? %>
            | <em> Дедлайн <%= task.deadlines_list %> </em>
          <% end %>

          <br/>
          <br/>
        </li>

      <% end %>

    </ul>
  <% end %>

</div>
