<div class="sixteen columns">

  <div id="buttons" style="float: right; margin-top: 50px">

    <a href="/status" class="button" title="Демон отработал без ошибок?">Статус:
      <% if @health %>
        <span style="color: green">Норм.</span>
      <% else %>
        <span style="color: red">Ошиб.</span>
      <% end %>
    </a>

    <a href="/blocked" class="button" style="margin-right: 6px">Заблокированные задачи</a>

  </div>

  <h1 class="remove-bottom" style="margin-top: 40px">
    <a href="/">Pulse</a>
  </h1>

  <h5>
    Веб-мордочка для отображения текущих задач
  </h5>

  <hr />
</div>


<div class="one-third column">
  <h3>Пользователи</h3>

  <ul>
    <li>
      <a href="/all"> <strong> Показать всех сразу </strong> </a>
      <br/>
      <br/>
    </li>

    <% @users.each do |user| %>

      <li>
        <a href="/default?id=<%= user.id %>">
          <%= user.name %></a>
      </li>

    <% end %>
  </ul>
</div>

<div class="two-thirds column">
  <% if @user %>
    <h3>Задачи для <%= @user.name %></h3>
    <br/>

    <% if @works.any? %>
      <ul class="square">

        <% @works.each do |task| %>
          <li>

            <strong
              <%= 'style="background-color: lightsalmon" title="Заблокирована"' if task.blocked %> >
              <%= task.title %>
            </strong>

            [<%= task.localized_phase %>]

            <br/>
            <br/>

            <a href="<%= task.global_in_context_url %>" target="_blank">Открыть карточку</a>

            <% unless task.deadlines_list.empty? %>
              | <em> Дедлайн <%= task.deadlines_list %> </em>
            <% end %>

            <br/>
            <br/>

          </li>
        <% end %>

      </ul>
    <% else %>
      <p>Нет открытых задач.</p>
    <% end %>


    <% if @watches.any? %>

      <h4>Проверяет:</h4>
      <br/>

      <ul class="square">

        <% @watches.each do |task| %>
          <li>

            <strong 
              <%= 'style="background-color: lightsalmon" title="Заблокирована"' if task.blocked %> >
              <%= task.title %>
            </strong>

            [<%= task.localized_phase %>]
            
            <br/>
            <br/>

            <a href="<%= task.global_in_context_url %>" target="_blank">Открыть карточку</a>

            <% unless task.deadlines_list.empty? %>
              | <em> Дедлайн <%= task.deadlines_list %> </em>
            <% end %>

            <br/>
            <br/>

          </li>
        <% end %>

      </ul>
    <% end %>


  <% else %>
    <h3>Задачи</h3>
    <br/>

    <p>Пользователь не выбран</p>
  <% end %>
</div>
