<div class="sixteen columns">
  <h1 class="remove-bottom" style="margin-top: 40px"> Pulse

    <div id="buttons" style="float: right">

      <a href="/status" class="button" title="Демон отработал без ошибок?">Статус: 
        <% if @health %>
          <span style="color: green">Норм.</span>
        <% else %>
          <span style="color: red">Ошиб.</span>
        <% end %>
      </a>

      <a href="/blocked" class="button" style="margin-right: 6px">Заблокированные задачи</a>

    </div>

  </h1>

  <h5>
    Веб-мордочка для отображения текущих задач
  </h5>
  
  <hr />
</div>


<div class="one-third column">
  <h3>Пользователи</h3>
  <br/>

  <ul>
    <% @users.each do |user| %>

      <li>
        <a href="/default?id=<%= user.id %>">
          <%= user.name %></a>
      </li>

    <% end %>
  </ul>
</div>

<div class="two-thirds column">
  <% if @user %>
    <h3>Задачи для <%= @user.name %></h3>
    <br/>

    <% if @tasks.any? %>
      <ul class="square">

        <% @tasks.each do |task| %>
          <li>

            <strong><%= task.title %></strong> [<%= task.localized_phase %>]
            <br/>
            <br/>

            <a href="<%= task.global_in_context_url %>" target="_blank">Открыть карточку</a>

            <% unless task.deadlines_list.empty? %>
              | <em> Дедлайн: <%= task.deadlines_list %> </em>
            <% end %>

            <br/>
            <br/>

          </li>
        <% end %>

      </ul>
    <% else %>
      <p>Нет открытых задач.</p>
    <% end %>

  <% else %>
    <h3>Задачи</h3>
    <br/>

    <p>Пользователь не выбран</p>
  <% end %>
</div>
