<div class="seven columns">

  <div id="buttons" style="float: right; margin-top: 50px">

    <a href="/status" class="button" title="Демон отработал без ошибок?">Статус:
      <% if @health %>
        <span style="color: green">Норм.</span>
      <% else %>
        <span style="color: red">Ошиб.</span>
      <% end %>
    </a>

    <a href="/default" class="button">Вернуться</a>

  </div>

  <h1 class="remove-bottom" style="margin-top: 40px">
    <a href="/">Pulse</a>
  </h1>

  <h5>
    Веб-мордочка для отображения текущих задач
  </h5>
  
  <hr />
</div>



<div class="seven columns">

  <strong>План дедлайнов</strong>
  <br/>
  <br/>

  <% position = 0 %>

  <% @calendar.sizes[1].times do %>
    <% @calendar.sizes[0].times do |column| %>

      <% weekend = (column == 5 or column == 6) %>

      <% position += 1 %>
      <% date = @calendar.at_position(position) %>

      <div class="one column">

        <% today = false %>
        
        <% if date == Time.now.day %>
          <% if !params[:y] or params[:y] == Time.now.year %>
            <% if !params[:m] or params[:m] == Time.now.month %>

              <% today = true %>

            <% end %>
          <% end %>
        <% end %>



        <div class="calendar tile <%= 'today' if today %> <%= 'weekend' if weekend %>" 
          id="tile_<%= position %>">

          <% if today %>
            <strong> <%= date %> </strong> (сегодня)
          <% else %>
            <%= date %>
          <% end %>

          <br/>

          <% if @plan[date] %>

            <div id="popup_<%= position %>" class="popup" style="display: none">
              <ol>

                <% @plan[date].each do |row| %>
                  <li> <a href="<%= row["url"] %>" target="_blank"><%= row["title"] %></a> </li>
                <% end %>

              </ol>
            </div>

            <div id="content_<%= position %>">

              <% @plan[date][0..1].each do |row| %>
                <%= row["title"].truncate(30, omission: '&#8230;') %> <br/>
              <% end %>

              <%= "+ Ещё #{(@plan[date].count - 2)}&#8230;" if @plan[date].count > 2 %>

            </div>

            <script>
              var e = document.getElementById('tile_<%= position %>');

              e.onmouseover = function() {
                document.getElementById('content_<%= position %>').style.display = 'none';
                document.getElementById('popup_<%= position %>').style.display = 'block';
              }

              e.onmouseout = function() {
                document.getElementById('popup_<%= position %>').style.display = 'none';
                document.getElementById('content_<%= position %>').style.display = 'block';    
              }
            </script>

          <% end %>          

        </div>
      </div>

    <% end %>
  <% end %>

</div>


<div class="seven columns">

  <br/>

  <% 7.times do |i| %>

    <div class="one column">
      <% month = @calendar.offset(i - 3) %>
      <a href="/plan?y=<%= month[:year] %>&m=<%= month[:month] %>"> <%= month[:label] %> </a>
    </div>

  <% end %>

</div>


<div class="seven columns">

  <br/> <br/>

  <strong>Предстящие дедлайны:</strong>

  <br/> <br/>

  <ul>

    <% @all_deadlines.each do |d| %>
      <li>

        <strong> <%= d.deadline.strftime("%d-%m-%Y") %> </strong>

        <%= d.task.title %> 

        [<a href="<%= d.task.global_in_context_url %>" target="_blank">Открыть карточку</a>]

      </li>
    <% end %>

  </ul>

</div>
